<!--<div class="progress loop"><progress></progress></div>-->

<ul class="clr-timeline clr-timeline-vertical">
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">11:59 am</div>
    <cds-icon role="img" shape="circle" aria-label="Not started"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Add KMS</span>
      <span class="clr-timeline-step-description">Root CA certificate requested.</span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">11:59 am</div>
    <cds-icon role="img" shape="dot-circle" aria-label="Current"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Add KMS</span>
      <span class="clr-timeline-step-description">
          Root CA certificate requested. Upload it to the KMS to complete the connection.
        <!-- <img src="/assets/placeholder_350x150.png" alt="Example of an Image in a Card" /> -->
          <img src="https://clarity.design/assets/images/documentation/cards/placeholder_350x150.png" alt="Example of an Image in a Card" />
        </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <span class="clr-timeline-step-header">11:59 am</span>
    <clr-spinner clrMedium aria-label="In progress">Fetching data</clr-spinner>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Make vCenter trust KMS</span>
      <span class="clr-timeline-step-description">
          Root CA certificate requested. Upload it to the KMS to complete the connection. Third sentence is very long
          and very long.
        </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header">11:59 am</div>
    <cds-icon role="img" shape="success-standard" aria-label="Completed"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Make KMS trust vCenter</span>
      <span class="clr-timeline-step-description">Upload it to the KMS to complete the connection. Third
          sentence.
          <button class="btn btn-sm">Refresh</button>
        </span>
    </div>
  </li>
  <li class="clr-timeline-step">
    <div class="clr-timeline-step-header"></div>
    <cds-icon role="img" shape="error-standard" aria-label="Error"></cds-icon>
    <div class="clr-timeline-step-body">
      <span class="clr-timeline-step-title">Connected</span>
      <span class="clr-timeline-step-description">No. It's not connected.</span>
    </div>
  </li>
</ul>
