<header class="header-6">
  <div class="branding pt-12">
    <div class="logo"></div>
    <div class="logo-text">VTrail</div>
  </div>
  <!-- <div class="header-nav">
    <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
    <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>
  </div> -->
  <div class="header-actions">
    <!--    <a href="javascript://" class="nav-link nav-icon" aria-label="settings">-->
    <!--      <cds-icon shape="cog"></cds-icon>-->
    <!--    </a>-->
  </div>
</header>
<div class="content-container">
  <img src="assets/download.svg" class="bg-image">

  <div class="content-area">
    <section class="main">
      <div class="alert alert-info mt-20" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <cds-icon class="alert-icon" shape="info-circle"></cds-icon>
            </div>
            <div class="alert-text">
              <div>
                Please provide the keywords you would like to search for. <b>Example:</b> VMware, VCF, VSAN
              </div>
              <div>
                The models will utilize the given instructions to filter the data for the supported social media
                platforms
                <ng-container *ngFor="let platform of this.platformSource.getPlatforms()">
                  <b>{{platform.name}} / </b>
                </ng-container>
                and <b>categorization / Sentiment analysis (negative, neutral, positive)</b>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="clr-row">
        <div class="clr-col-lg-3 clr-col-12">
          <vt-platform-selector
            (onSelectedPlatformChanged)="onPlatformChanged($event)"
            (onPlatformEndpointChanged)="onEndpointChanged($event)">
          </vt-platform-selector>
        </div>
        <div class="clr-col-lg-3 clr-col-12">
          <vt-analysis-selector (onSelectedAnalysisChanged)="onAnalysisChanged($event)"
                                (onSelectedAnalysisOptionChanged)="onAnalysisOptionChanged($event)">
          </vt-analysis-selector>
        </div>
        <div class="clr-col-lg-3 clr-col-12">
          <app-keyword-search (keywords)="updateKeywords($event)"></app-keyword-search>
        </div>
        <div class="clr-col-lg-3 clr-col-12">
          <app-time-search (timeInterval)="updateTimeInterval($event)"></app-time-search>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-4"></div>
        <div class="clr-col-6"></div>
        <div class="clr-col-2">
          <button class="btn btn-primary width-100" (click)="search()">Search</button>
        </div>
      </div>
      <button class="btn btn-link"
              (click)="openWeeklyVMwareNewsletter()">
        Weekly VMware Newsletter
      </button>|
      <button class="btn btn-link"
              (click)="openKnownVMwareIssues()">
        Known VMware Issues
      </button>|
      <button class="btn btn-link"
              (click)="openVMwareExploreLatest()">
        Latest from VMware Explore
      </button>
      <div class="loader-wrapper" *ngIf="loading">
        <app-loader [isLoading]="loading" [state]="loadingState"></app-loader>
      </div>
      <app-social-media-result-grid [gridItems]="searchResult" [isLoading]="loading"></app-social-media-result-grid>
    </section>
  </div>
</div>

