<header class="header-6">
  <!-- <div class="branding">Vtrail</div> -->
  <!-- <div class="header-nav">
    <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
    <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>
  </div> -->
  <div class="header-actions">
    <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
      <cds-icon shape="cog"></cds-icon>
    </a>
  </div>
</header>
<section>
  <h2>Vtrail next gen social media crawler</h2>
</section>