<div class="card">
  <h3 class="card-header">Prompts</h3>
  <div class="card-block">
    <input clrInput placeholder="Prompts" name="input" (ngModelChange)="onChange($event)" [(ngModel)]="prompt" />
    <div class="card-text">
      <p class="d-flex">
        <span><cds-icon shape="exclamation-triangle" size="md"></cds-icon></span>
        <span>Please provide prompts in the format :/social-media1,social-media2,social-media3#negative,positive,all@category1,category2</span></p>
    </div>
  </div>
</div>
